[submodule "lib/SDWebImage"]
	path = lib/SDWebImage
	url = https://github.com/rs/SDWebImage
[submodule "lib/LBYouTubeView"]
	path = lib/LBYouTubeView
	url = https://github.com/MarcosSTM/LBYouTubeView
[submodule "lib/BLYYoutubeExtractor"]
	path = lib/BLYYoutubeExtractor
	url = https://github.com/jeremylevy/BLYYoutubeExtractor
[submodule "lib/MBProgressHUD"]
	path = lib/MBProgressHUD
	url = https://github.com/merchlar/MBProgressHUD
[submodule "lib/PlayerMerchlar"]
	path = lib/PlayerMerchlar
	url = ssh://fj@172.20.0.9/var/git/Merchlar_Internal/iOS_Libraries/youtube_player.git
